<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
        <link href="/connexionArea.css" rel="stylesheet"/>
    </head>
<body>
<article>
    <h3>Hi <%= name %>,</h3>
    <p>
      <a href="/logout"><button>logout</button></a>
      You are successfully logged in.<br/>
      You may now order what you need from our store.
      <br/><br/><br/>
      Note: Please feel free to contact us to update your profile details
    </p>

</article>
</body>
</html>